attrs==23.2.0
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
flatbuffers==24.3.25
future==1.0.0
geographiclib==2.0
geopy==2.4.1
idna==3.7
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.4
platformdirs==4.2.1
pytz==2024.1
ratelim==0.1.6
requests==2.31.0
requests-cache==1.2.0
retry-requests==2.0.0
six==1.16.0
url-normalize==1.4.3
urllib3==2.2.1
